/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

&mt {
    flavor = "balanced";
    quick-tap-ms = <200>;
};

/ {
    macros {
        quick_up: quick_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp UP_ARROW &kp UP_ARROW &kp UP_ARROW>;
            label = "QUICK_UP";
        };

        quick_down: quick_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOWN_ARROW &kp DOWN_ARROW &kp DOWN>;
            label = "QUICK_DOWN";
        };

        window_horizontal_small: window_horizontal_small {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(W) &kp PLUS>;
            label = "WINDOW_HORIZONTAL_SMALL";
        };

        window_horizontal_big: window_horizontal_big {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(W) &kp MINUS>;
            label = "WINDOW_HORIZONTAL_BIG";
        };

        window_vert_small: window_vert_small {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(W) &kp LESS_THAN>;
            label = "WINDOW_VERT_SMALL";
        };

        window_vert_big: window_vert_big {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(W) &kp GREATER_THAN>;
            label = "WINDOW_VERT_BIG";
        };
    };

    behaviors {
        slow_mt: slow_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "SLOW_MT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
        };

        window_heigh_encoder: window_heigh_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            label = "WINDOW_HEIGH_ENCODER";
            #sensor-binding-cells = <0>;
            bindings = <&window_horizontal_big>, <&window_horizontal_small>;
        };

        window_vert_encoder: window_vert_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            label = "WINDOW_VERT_ENCODER";
            #sensor-binding-cells = <0>;
            bindings = <&window_vert_big>, <&window_vert_small>;
        };

        double_esc: double_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLE_ESC";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp ESCAPE>;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc1 {
            bindings = <&kp ESCAPE>;
            key-positions = <43 42>;
        };

        esc2 {
            bindings = <&kp ESCAPE>;
            key-positions = <46 47>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | LAYER 1 | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
&none  &kp Q                &kp W           &kp E        &kp R             &kp T                                            &kp Y          &kp U             &kp I        &kp O           &kp P                        &none
&none  &slow_mt LEFT_ALT A  &mt LEFT_GUI S  &mt LCTRL D  &mt LEFT_SHIFT F  &lt 2 G                                          &lt 2 H        &mt LEFT_SHIFT J  &mt LCTRL K  &mt LEFT_GUI L  &slow_mt LEFT_ALT SEMICOLON  &none
&none  &kp Z                &kp X           &kp C        &kp V             &kp B      &none      &none  &none  &none        &kp N          &kp M             &double_esc  &kp DOT         &kp FSLH                     &none
                                            &none        &none             &kp SPACE  &lt 1 TAB  &none  &none  &lt 1 ENTER  &kp BACKSPACE  &none             &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>,
                <&inc_dec_kp PAGE_DOWN PG_UP>;
        };

        number_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
            // |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
            // |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |
            //                       |      |      |      |      |      |      |      |      |      |      |      |      |

            bindings = <
&none  &mt LG(N1) N1  &mt LG(NUMBER_2) NUMBER_2  &mt LG(NUMBER_3) NUMBER_3  &mt LG(NUMBER_4) NUMBER_4     &mt LG(N5) N5                                  &kp NUMBER_6    &kp N7               &kp N8        &kp N9              &kp N0             &none
&none  &trans         &slow_mt LEFT_GUI GRAVE    &mt LCTRL LEFT_BRACKET     &mt LEFT_SHIFT RIGHT_BRACKET  &kp SQT                                        &kp LEFT_ARROW  &mt LEFT_SHIFT DOWN  &mt LCTRL UP  &mt LEFT_GUI RIGHT  &kp RA(SEMICOLON)  &none
&none  &trans         &trans                     &kp MINUS                  &kp EQUAL                     &kp BACKSLASH  &trans  &trans  &trans  &trans  &kp HOME        &kp PAGE_DOWN        &kp PG_UP     &kp END             &trans             &none
                                                 &trans                     &trans                        &trans         &trans  &trans  &trans  &trans  &trans          &trans               &trans
            >;

            sensor-bindings = <&window_vert_encoder>, <&window_heigh_encoder>;
        };

        sym_swe_layer {
            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH        &kp DOLLAR       &kp PERCENT                                        &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &trans           &kp TILDE    &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp DOUBLE_QUOTES                                  &kp LEFT   &kp DOWN       &kp UP_ARROW  &kp RIGHT             &kp RA(LEFT_BRACKET)   &trans
&trans  &trans           &trans       &kp UNDERSCORE  &kp PLUS         &kp PIPE           &trans  &trans  &trans  &trans  &kp HOME   &kp PAGE_DOWN  &kp PAGE_UP   &kp RA(SEMICOLON)     &kp RA(SQT)            &trans
                                      &trans          &trans           &trans             &trans  &trans  &trans  &trans  &trans     &trans         &trans
            >;
        };
    };
};
